.header {
    padding: 1rem 0 3rem;
    line-height: 24px;
    text-align: start;
}

.title {
    color: #131313;
    font-size: 2.1rem;
    text-decoration: none;
    font-style:sans-serif;
    display: block;
    padding: 10px;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-list {
    display: flex;
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    margin: 0 0 0 -12px;
    font-size: 15px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.nav-item {
    color: #999999;
    // font-size: 2.0rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #666666;
}

.active-nav-item {
    color: #333333;
}