.site-wrapper {
    padding: 3vw;
    min-height: 100vh;
}

@media(max-width: 850px) {
    .site-wrapper {
        padding: 6vw;
    }
}

.container {
    margin: 0 auto;
    max-width: 95%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// .content {
//     flex-grow: 1;
// }

